.button {
  border: none;
}
body {
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
}
.plugin {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap: 24px;
  flex-wrap: wrap;
}
