@use "../data/global.scss";
@use "../data/shadows.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$amber;
  padding: 14px 40px;
  border-radius: 4px;
  column-gap: 5px;
  box-shadow: 0 0 0 1px colors.$black inset, shadows.$solid-black;
  transition: transform const.$transition, box-shadow const.$transition,
    background-color const.$transition;
}

.hasHover {
  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 0 0 0 1px colors.$black inset, shadows.$solid-black-hover;
  }
}

.outline {
  background-color: colors.$white;
  box-shadow: 0 0 0 1px colors.$black inset, shadows.$solid-black;
  &.hasHover:hover {
    box-shadow: 0 0 0 1px colors.$black inset, shadows.$solid-black-hover;
  }
}

.darkTheme {
  background-color: colors.$white;
  .text {
    color: colors.$ui-dark;
  }
  .arrow {
    path {
      fill: colors.$ui-dark;
    }
  }
  &.outline {
    background-color: colors.$ui-dark;
    box-shadow: 0 0 0 1px colors.$white inset, shadows.$solid-white;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
    &.hasHover:hover {
      background-color: colors.$ui-dark;
      box-shadow: 0 0 0 1px colors.$white inset, shadows.$solid-white-hover;
    }
  }
}

.text {
  @include global.text(colors.$black, $font-weight: 400);
}

.arrow {
  @include global.arrow(0, 1px);
}
