@use "../data/global.scss";
@use "../data/shadows.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$hot-pink;
  padding: 14px 16px;
  border-radius: 4px;
  column-gap: 40px;
  transition: background-color const.$transition, box-shadow const.$transition;
}

.hasHover {
  &:hover {
    background-color: colors.$hot-pink-hover2;
    .arrow {
      transform: translateX(2px);
    }
  }
}

.outline {
  background-color: colors.$white;
  box-shadow: 0 0 0 1px colors.$smoke-hover7 inset;
  .text {
    color: colors.$smoke;
  }
  .arrow path {
    fill: colors.$smoke;
  }
  &.hasHover:hover {
    background-color: colors.$white;
    box-shadow: 0 0 0 1px colors.$hot-pink inset;
    // .text {
    //   color: colors.$smoke;
    // }
    // .arrow path {
    //   fill: colors.$smoke;
    // }
  }
}

.darkTheme {
  background-color: colors.$white;
  .text {
    color: colors.$ui-button-item-dark;
  }
  .arrow {
    path {
      fill: colors.$ui-button-item-dark;
    }
  }
  &.hasHover:hover {
    background-color: colors.$white-hover2;
  }
  &.outline {
    background-color: colors.$ui-button-item-dark;
    box-shadow: 0 0 0 1px colors.$white-hover5 inset;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
    &.hasHover:hover {
      background-color: colors.$ui-button-item-dark;
      box-shadow: 0 0 0 1px colors.$white inset;
      .text {
        color: colors.$white;
      }
      .arrow path {
        fill: colors.$white;
      }
    }
  }
}

.text {
  color: colors.$white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 100%;
  transition: color const.$transition;
}

.arrow {
  position: relative;
  top: 0.5px;
  transition: transform const.$transition;
  path {
    transition: fill const.$transition;
  }
}
