@use "../data/global.scss";
@use "../data/shadows.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$calm-blue;
  box-shadow: shadows.$small;
  padding: 23px 32px;
  border-radius: 999px;
  transition: background-color const.$transition ease,
    transform const.$transition ease, box-shadow const.$transition ease;
}

.hover {
  &:hover {
    transform: translateY(-3px);
    background-color: colors.$calm-blue-hover;
    box-shadow: shadows.$small-hover;
  }
}

.text {
  color: colors.$white;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
