@use "../data/global.scss";
@use "../data/shadows.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$calm-blue;
  box-shadow: shadows.$small;
  padding: 23px 32px;
  border-radius: 999px;
  column-gap: 12px;
  transition: background-color const.$transition ease,
    transform const.$transition ease, box-shadow const.$transition ease;
}

.hasHover {
  &:hover {
    transform: translateY(-3px);
    background-color: colors.$calm-blue-hover;
    box-shadow: shadows.$small-hover;
    .arrow {
      transform: translateX(3px);
    }
  }
}

.outline {
  background-color: colors.$white;
  box-shadow: shadows.$small, 0 0 0 2px colors.$calm-blue inset;
  .text {
    color: colors.$calm-blue;
  }
  .arrow path {
    fill: colors.$calm-blue;
  }
  &.hasHover:hover {
    background-color: colors.$white;
    box-shadow: shadows.$small-hover, 0 0 0 2px colors.$calm-blue-hover inset;
    .text {
      color: colors.$calm-blue-hover;
    }
    .arrow path {
      fill: colors.$calm-blue-hover;
    }
  }
}

.darkTheme {
  background-color: colors.$white;
  box-shadow: shadows.$small-dark;
  .text {
    color: colors.$ui-button-item-dark;
  }
  .arrow {
    path {
      fill: colors.$ui-button-item-dark;
    }
  }
  &.hasHover:hover {
    background-color: colors.$white-hover2;
    box-shadow: shadows.$small-hover-dark;
  }
  &.outline {
    background-color: colors.$ui-button-item-dark;
    box-shadow: shadows.$small-dark, 0 0 0 2px colors.$white inset;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
    &.hasHover:hover {
      background-color: colors.$ui-button-item-dark;
      box-shadow: shadows.$small-hover-dark,
        0 0 0 2px colors.$white-hover3 inset;
      .text {
        color: colors.$white-hover3;
      }
      .arrow path {
        fill: colors.$white-hover3;
      }
    }
  }
}

.text {
  color: colors.$white;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  transition: color const.$transition;
}

.arrow {
  transition: transform const.$transition;
  path {
    transition: fill const.$transition;
  }
}
