@use "../data/global.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$black;
  padding: 20px 32px;
  column-gap: 9px;
  transition: background-color const.$transition-long ease,
    box-shadow const.$transition-long;
}

.hasHover {
  &:hover {
    background-color: colors.$black-hover2;
    .arrow {
      transform: translateX(2px);
    }
  }
}

.outline {
  background-color: colors.$white;
  box-shadow: 0 0 0 2px colors.$black inset;
  .text {
    color: colors.$black;
  }
  .arrow path {
    fill: colors.$black;
  }
  &.hasHover:hover {
    background-color: colors.$black;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
  }
}

.darkTheme {
  background-color: colors.$white;
  .text {
    color: colors.$ui-button-item-dark;
  }
  .arrow path {
    fill: colors.$ui-button-item-dark;
  }
  &.hasHover:hover {
    background-color: colors.$white-hover2;
  }
  &.outline {
    background-color: colors.$ui-button-item-dark;
    box-shadow: 0 0 0 2px colors.$white inset;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
    &.hasHover:hover {
      background-color: colors.$white;
      .text {
        color: colors.$ui-button-item-dark;
      }
      .arrow path {
        fill: colors.$ui-button-item-dark;
      }
    }
  }
}

.text {
  color: colors.$white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  line-height: 110%;
  font-family: "Montserrat", sans-serif;
  transition: color const.$transition-long;
}

.arrow {
  transition: transform const.$transition-long;
  path {
    transition: fill const.$transition-long;
  }
}
