@use "../data/global.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$black;
  padding: 20px 32px;
  transition: background-color const.$transition ease;
}

.hover {
  &:hover {
    background-color: colors.$black-hover2;
  }
}

.text {
  color: colors.$white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  line-height: 110%;
  font-family: "Montserrat", sans-serif;
}
