@use "../data/global.scss";
@use "../data/shadows.scss";
@use "../data/colors.scss";
@use "../data/constants.scss" as const;

.base {
  @include global.button;
  background-color: colors.$smoke;
  padding: 11px 18px;
  border-radius: 999px;
  column-gap: 8px;
  transition: background-color const.$transition, box-shadow const.$transition;
}

.hasHover {
  &:hover {
    background-color: colors.$smoke-hover-07;
    .arrow {
      transform: translateX(2px);
    }
  }
}

.outline {
  background-color: colors.$white;
  box-shadow: 0 0 0 2px colors.$smoke inset;
  .text {
    color: colors.$smoke;
  }
  .arrow path {
    fill: colors.$smoke;
  }
  &.hasHover:hover {
    background-color: colors.$white;
    box-shadow: 0 0 0 2px colors.$smoke-hover-06 inset;
    .text {
      color: colors.$smoke-hover-06;
    }
    .arrow path {
      fill: colors.$smoke-hover-06;
    }
  }
}

.darkTheme {
  background-color: colors.$white;
  .text {
    color: colors.$ui-dark;
  }
  .arrow {
    path {
      fill: colors.$ui-dark;
    }
  }
  &.hasHover:hover {
    background-color: colors.$white-hover-07;
  }
  &.outline {
    background-color: colors.$ui-dark;
    box-shadow: 0 0 0 2px colors.$white inset;
    .text {
      color: colors.$white;
    }
    .arrow path {
      fill: colors.$white;
    }
    &.hasHover:hover {
      background-color: colors.$ui-dark;
      box-shadow: 0 0 0 2px colors.$white-hover-06 inset;
      .text {
        color: colors.$white-hover-06;
      }
      .arrow path {
        fill: colors.$white-hover-06;
      }
    }
  }
}

.text {
  color: colors.$white;
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 100%;
  transition: color const.$transition;
}

.arrow {
  position: relative;
  top: 0.5px;
  transition: transform const.$transition;
  path {
    transition: fill const.$transition;
  }
}
