$white: #fff;
$white-hover: rgba(255, 255, 255, 0.8);
$white-hover2: rgba(255, 255, 255, 0.7);
$white-hover3: rgba(255, 255, 255, 0.6);
$white-hover4: rgba(255, 255, 255, 0.5);

$black: #000;
$black-hover: rgba(0, 0, 0, 0.8);
$black-hover2: rgba(0, 0, 0, 0.7);
$black-hover3: rgba(0, 0, 0, 0.6);
$black-hover4: rgba(0, 0, 0, 0.5);

$plugin-background: #f6f6f6;
$plugin-background-dark: #1e1e1e;

$unicorn-blue: #3742fa;
$unicorn-blue-hover: #0f1cf3;

$calm-blue: #0984e3;
$calm-blue-hover: #0074cd;

$ui-black: #222222;
$ui-button-item-dark: #2c2c2c;
$ui-stroke: #454444;
$figma-blue: #18a0fb;
