$white: #fff;
$black: #000;
$black-hover: rgba(0, 0, 0, 0.7);

$plugin-background: #f6f6f6;
$plugin-background-dark: #1e1e1e;

$unicorn-blue: #3742fa;
$unicorn-blue-hover: #0f1cf3;

$calm-blue: #0984e3;
$calm-blue-hover: #0074cd;

$ui-black: #222222;
$ui-item-black: #2C2C2C;
$ui-stroke: #454444;
$figma-blue: #18a0fb;
