$white: #fff;
$white-hover-08: rgba(255, 255, 255, 0.8);
$white-hover-07: rgba(255, 255, 255, 0.7);
$white-hover-06: rgba(255, 255, 255, 0.6);
$white-hover-05: rgba(255, 255, 255, 0.5);
$white-hover-04: rgba(255, 255, 255, 0.4);

$black: #000;
$black-hover-08: rgba(0, 0, 0, 0.8);
$black-hover-07: rgba(0, 0, 0, 0.7);
$black-hover-06: rgba(0, 0, 0, 0.6);
$black-hover-05: rgba(0, 0, 0, 0.5);

$plugin-background: #f6f6f6;
$plugin-background-dark: #1e1e1e;

$unicorn-blue: #3742fa;
$unicorn-blue-hover: #0f1cf3;

$calm-blue: #0984e3;
$calm-blue-hover: #0064b1;

$ui-black: #222222;
$ui-dark: #2c2c2c;
$ui-stroke: #454444;
$figma-blue: #18a0fb;

$smoke: #2b2e4a;
$smoke-hover-07: rgba(43, 46, 74, 0.7);
$smoke-hover-06: rgba(43, 46, 74, 0.6);
$smoke-hover-02: rgba(43, 46, 74, 0.2);

$hot-pink: #e91e63;
$hot-pink-hover-07: rgba(233, 30, 99, 0.7);

$amber: #f6b93b;

$blurple: #686de0;
$blurple-dark: #4834d4;
$blurple-shade: #3423aa;
