@use "./colors.scss";

$button-item: 0px 2px 4px -2px rgba(24, 39, 75, 0.1),
  0px 1px 1px -2px rgba(24, 39, 75, 0.06);
$button-item-dark: 0px 2px 4px -2px rgba(0, 0, 0, 0.12),
  0px 1px 1px -2px rgba(0, 0, 0, 0.08);

$medium: 0px 2px 4px rgba(136, 144, 194, 0.2),
  0px 5px 15px rgba(37, 44, 97, 0.15);
$medium-dark: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.15);

$medium-hover: 0px 3px 8px rgba(136, 144, 194, 0.25),
  0px 7px 21px rgba(37, 44, 97, 0.2);
$medium-hover-dark: 0px 3px 8px rgba(0, 0, 0, 0.25),
  0px 7px 21px rgba(0, 0, 0, 0.2);

$ui-small-black: 0px 2px 7px rgba(0, 0, 0, 0.15);

$ui-hud: 0px 2px 7px rgba(0, 0, 0, 0.15), 0px 5px 17px rgba(0, 0, 0, 0.2);

$solid-black: 0 0 0 0 colors.$black;
$solid-black-hover: 4px 4px 0 0 colors.$black;

$solid-black-offset: -4px 4px 0 0 colors.$black;
$solid-black-offset-hover: -6px 6px 0 0 colors.$black;

$solid-white: 0 0 0 0 colors.$white;
$solid-white-hover: 4px 4px 0 0 colors.$white;

$solid-white-offset: -4px 4px 0 0 colors.$white;
$solid-white-offset-hover: -6px 6px 0 0 colors.$white;

$small: 0px 1px 2px rgba(20, 14, 62, 0.25);
$small-black: 0px 1px 2px rgba(0, 0, 0, 0.35);
