$button-item: 0px 2px 4px -2px rgba(24, 39, 75, 0.1),
  0px 1px 1px -2px rgba(24, 39, 75, 0.06);

$small: 0px 2px 4px rgba(136, 144, 194, 0.2),
  0px 5px 15px rgba(37, 44, 97, 0.15);

$small-hover: 0px 3px 8px rgba(136, 144, 194, 0.25),
  0px 7px 21px rgba(37, 44, 97, 0.2);

$ui-small-black: 0px 2px 7px rgba(0, 0, 0, 0.15);
