@use "../../styles/data/shadows.scss";
@use "../../styles/data/colors.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 256px;
  height: 96px;
  background-color: colors.$white;
  border-radius: 10px;
  box-shadow: shadows.$button-item;
  cursor: pointer;
}
