@use "../../styles/data/shadows.scss";
@use "../../styles/data/colors.scss";
@use "../../styles/data/constants.scss" as const;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 256px;
  height: 96px;
  background-color: colors.$white;
  border-radius: 10px;
  box-shadow: shadows.$button-item;

  &Dark {
    background-color: colors.$ui-dark;
    box-shadow: shadows.$button-item-dark;
  }

  transition: background-color const.$ui-transition,
    box-shadow const.$ui-transition;

  animation-duration: 0.2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
