@use "../../styles/data/shadows.scss";
@use "../../styles/data/colors.scss";
@use "../../styles/data/constants.scss" as const;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 256px;
  height: 96px;
  background-color: colors.$white;
  border-radius: 10px;
  box-shadow: shadows.$button-item;
  cursor: pointer;

  &Dark {
    background-color: colors.$ui-button-item-dark;
    box-shadow: shadows.$button-item-dark;
  }

  transition: background-color const.$theme-transition,
    box-shadow const.$theme-transition;
}
