@use "../data/global.scss";
@use "../data/colors.scss";
@use "../data/shadows.scss";
@use "../data/constants.scss" as const;

.menu {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 8px;
}

.button {
  @include global.button;
  background-color: colors.$ui-black;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: shadows.$ui-small-black;
  
  &Dark {
    border: 1px solid colors.$ui-stroke;
  }
  
  transition: border const.$theme-transition;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px 0;
  background-color: colors.$ui-black;
  box-shadow: shadows.$ui-hud;
  border-radius: 2px;

  &Hidden {
    display: none;
  }

  &Dark {
    border: 1px solid colors.$ui-stroke;
  }

  transition: border const.$theme-transition;
}

.dropdownOption {
  @include global.button;
  color: colors.$white;
  justify-content: left;
  padding: 4px 16px 4px 32px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  &:hover {
    background-color: colors.$figma-blue;
  }
}

.icon {
  position: absolute;
  left: 12px;

  &Hidden {
    display: none;
  }
}
